body {
  background-color: #FDEDFF;
}

h1 {
  background-color: #AF94B3;
  color: rgb(60, 60, 87);
  padding: 20px;
}

.btn-primary {
  background-color: #B4D2C8;
  border-color:  #B4D2C8;
  color: #222;
}

.btn-primary:hover {
  color: #222;
  background-color: #83b5a4;
  border-color: #83b5a4
}

#books-container {
  background-color: #9DB3AD;
}

.book {
  background-color: #FFF4D4;
  color: #222;
  padding: 25px;
  border-width: 3px;
  border-style: inset;
  border-color: #AF94B3;
}

.picture {
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.collapse.book-details{
  color: #222;
  text-align: justify;
}