body {
  background-color: rgb(144, 129, 158);
}

h1 {
  background-color: antiquewhite;
  color: rgb(60, 60, 87);
  padding: 20px;
}

#cart {
  color: pink;
}

#books-container {
  background-color: blue;
}

.book {
  background-color: burlywood;
  color: rgb(68, 63, 63);
  align-items: center;
  padding: 25px;
  border-width: 3px;
  border-style: inset;
  border-color: fuchsia;
}

.picture {
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
}